@page "/"
@using System.Net
@using CovidTracker.Code
@using Microsoft.AspNetCore.Identity
@inject NavigationManager Navigator

<div class="text-center py-2">
    <h1>Welcome to the COVID SAFE System !</h1>
</div>z

<!-- If the page is in a loading state, show loading message. Otherwise, render the relevant page. -->
@if (LoadState == PageState.Loading) {
    <p>...LOADING...</p>
} else {
    switch (CurrentPage) {
        case Page.Login:
            <!-- Render login page. -->
            <div class="my-5 text-center">
                <label for="exampleFormControlInput1" class="form-label" style="font-weight: 400; color: #232222;font-size: 1.8rem;">
                    please input your unique identification here
                </label>
                <input @bind="@ID" type="text" class="form-control form-control-lg" id="exampleFormControlInput1">
            </div>
            <button type="button" class="btn btn-primary btn-block btn-lg" @onclick="@Post">Submit</button>
                                                                                           
            <img src="qrcode.png" class="rounded mx-auto d-block" alt="...">

            break;
        case Page.Summary:
            <!-- Render the example summary page. -->
            <div class="alert alert-success" role="alert">
                Congratulation! you complete logging.</div>
            <p>
                *THIS IS EXAMPLE OUTPUT ONLY*<br /><br />
                ID: @ID<br />
                Location: Adelaide<br />
                Phone number: ...<br /><br />
                A server-side log was saved to "@Text".
            </p>
            <button type="button" class="btn btn-primary" @onclick="@HideSummary">Back</button>
            break;
        default:
            <!-- Render error message if we are at an unrecognized page. This should not happen. -->
            <p>Error!</p>
            break;
    }
}

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string ID { get; set; } = "";

    [Parameter]
    public PageState LoadState { get; set; } = PageState.Loaded;

    [Parameter]
    public Page CurrentPage { get; set; } = Page.Login;

    public async void Post()
    {
        Text = "";
        LoadState = PageState.Loading;
        StateHasChanged();
        HttpResponseMessage msg = await AppClient.PostJsonAsync(@Navigator.BaseUri + "api/Login", ID);
        Text = await msg.Content.ReadAsStringAsync();
        LoadState = PageState.Loaded;
        CurrentPage = Page.Summary;
        StateHasChanged();
    }

    public void HideSummary()
    {
        ID = "";
        LoadState = PageState.Loaded;
        CurrentPage = Page.Login;
        StateHasChanged();
    }

    public enum PageState
    {
        Loaded,
        Loading
    }

    public enum Page
    {
        Login,
        Summary
    
    }
}
